<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs/" />
    <appender name="LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/api.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/archived/api.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="!production">
        <root level="debug">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.springframework.web" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="api.ApiApplication" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="production">
        <root level="error">
            <appender-ref ref="LOG_FILE" />
        </root>
        <logger name="org.springframework.web" level="ERROR" additivity="false">
            <appender-ref ref="LOG_FILE"/>
        </logger>
        <logger name="org.hibernate" level="ERROR" additivity="false">
            <appender-ref ref="LOG_FILE"/>
        </logger>
        <logger name="api.ApiApplication" level="ERROR" additivity="false">
            <appender-ref ref="LOG_FILE"/>
        </logger>
    </springProfile>


</configuration>